[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.1 debian-base-gui-3.0.8
Icon=/home/jay/.local/share/icons/default.png
Type=Application
Terminal=true
GenericName=Debian-Base-Gui
Name=Debian-Base-Gui
StartupNotify=false
Categories=Other
