[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.3 debian-base-gui-9.5.4-gtk2
Icon=/home/jay/.local/share/icons/default.png
Type=Application
Terminal=false
GenericName=Debian-Base-Gui 9.5.4-gtk2
Name=Debian-Base-Gui 9.5.4-gtk2
StartupNotify=false
Categories=Development
